:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1C0221;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { 
    box-sizing:border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  center: 0;
  width: 105%;
  height: 105%;
  background-image: url('./assets/clouds.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.12;
  z-index: -1;
  pointer-events: none;
  transform: var(--cloud-transform, translate(0, 0));
}

body::after {
  content: '';
  position: fixed;
  bottom: 0;
  center: 0;
  width: 110%;
  height: 250px;
  background-image: url('./assets/Mountains.png');
  background-size: auto 100%; /* This maintains aspect ratio and fills the height */
  background-position: bottom;
  background-repeat: repeat-x; /* Only repeat horizontally */
  z-index: -1;
  pointer-events: none;
  opacity: 0.48;
  transform: var(--mountain-transform, translateY(57px));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font: Jersey 10;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.projTitle{
  font-family: "Jersey 10", sans-serif;
  font-size: 100px;
}

.colorBlue{
  color: #7CB4B8;
}
.colorRed{
  color: #db504a;
}
.colorYellow{
  color: #e3b505;
}
.titleWhite{
  font-family: "Jersey 10", sans-serif;
  color: white;
  font-size: 65px;

}

.home-container {
  display:flex;
  padding: 50px;
  flex-direction: column;
  align-items:center;
  width: 100vw;
}

.title-group {
  text-align: center;
}

.title-group h1,
.title-group h2 {
  margin: 0;
  line-height: .75; /* Adjust as needed for tighter spacing */
}

.error-message {
  color: #db504a;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #1C0221;
  }
  a:hover {
    color: #747bff;
  }
  a:button {
    background-color: #f9f9f9;
  }
}
