<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  </head>
  <body>
    <div style="display: flex; justify-content: center">
      <form
        method="POST"
        action="/login"
        style="
          display: flex;
          flex-direction: column;
          gap: 12px;
          min-width: 250px;
        "
      >
        <h2>Login</h2>
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>