<div style="display:flex; flex-direction: row; align-content: center; justify-content: space-around" class="server-list-item">
    <div>
        {{ servername }}
    </div>
    <div>
        {{ status }}
    </div>
    <div>
        <form>
            <button style="{{ buttonstyle }}" hx-post="/api/container/{{ containerid }}"  hx-target="#machine-list" >
                Start/Restart
            </button>
        </form>
    </div>
    <div>
        <form>
            <button style="{{ buttonstyle }}" hx-delete="/api/container/{{ containerid }}/delete-app"  hx-target="#machine-list" >
                Delete
            </button>
        </form>
    </div>
    <div>
        <a href="" id="link-for-{{ containerid }}" target="_blank">open</a>
    </div>
    <div>
        <form>
            <button style="" hx-post="/api/container/{{ containerid }}/clean" hx-swap="none" >
                reset
            </button>
        </form>
    </div>

    <script>
        document.getElementById('link-for-{{ containerid }}').href = window.location.protocol + "//" + window.location.hostname + ":80/{{ link }}";
    </script>
</div>